.codex-editor__redactor {
  padding: 0 !important;
}

.ce-block__content,
.ce-toolbar__content {
  margin: 0;
  padding: 0;
  margin-left: 30px;
}

.ce-toolbar__content {
  margin-left: 30px;
}

h1 {
  @apply text-3xl font-bold mb-4;
}

.ce-block p {
  @apply text-base mb-4;
}

.ce-block ul {
  @apply list-disc list-inside mb-4;
}

.ce-block h1 {
  @apply text-3xl font-bold mb-4;
}

.ce-block h2 {
  @apply text-2xl font-bold mb-2;
}

.ce-block h3 {
  @apply text-xl font-bold mb-2;
}

.ce-block h4 {
  @apply text-lg font-bold mb-2;
}

.ce-block h5 {
  @apply text-base font-bold mb-2;
}

.ce-block h6 {
  @apply text-sm font-bold mb-2;
}

.ce-block__content,
.ce-toolbar__content {
  padding: 0;
  margin: 0;
  @apply max-w-full;
}
